/* -----CSS Default Reset----- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --primary-color: #cc0000;
  --secondary-color: #202429;
  --third-color: #f8f0e5;
  --fourth-color: #dac0a3;
  --fifth-color: #fac564;
  --grey-shade-light: #f8fafb;
  --grey-shade-dark: #f2f5f7;
  --logo-color: #f13430;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}
.container {
  max-width: 1300px;
  width: 96%;
  margin: 0 auto;
}
/* Pop up */
/* styles.css */

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 30em;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.popup-card {
  padding: 20px;
  text-align: center;
}

.popup-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.popup-card p {
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

#close-popup {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

#close-popup:hover {
  background-color: #0056b3;
}
/* Pre Header */
.pre-header-container {
  background-color: var(--logo-color);
  padding: 12px 20px;
}

.pre-header-logo img {
  width: 170px;
  margin: 0 auto;
  aspect-ratio: 3/1;
  object-fit: cover;
  object-position: center;
}
/* ------------Header------------- */

.header-container {
  background-color: var(--secondary-color);
}
.header-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-flexbox-right nav a {
  color: var(--grey-shade-light);
  padding: 26px 12px;
  font-size: 1.7rem;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
}
.header-flexbox-right nav a:hover {
  background-color: var(--logo-color);
}

/* Swiper Slide */

.swiper {
  width: 100%;
  height: 90vh;
  display: block;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-slide {
  position: relative;
}
.swiper-slide::after {
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  -ms-animation-name: fadeOverlay;
  -moz-animation-name: fadeOverlay;
  -op-animation-name: fadeOverlay;
  -webkit-animation-name: fadeOverlay;
  animation-name: fadeOverlay;
  -ms-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -op-animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@keyframes fadeOverlay {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
}
.hero-text-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 15;
  transform: translateY(-50%);
}

.hero-text h1 {
  width: 50%;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 5px;
  color: var(--fifth-color);
  line-height: 45px;
  text-transform: uppercase;
  transform: translateX(0);
  -ms-animation-name: SLideInText;
  -moz-animation-name: SLideInText;
  -op-animation-name: SLideInText;
  -webkit-animation-name: SLideInText;
  animation-name: SLideInText;
  -ms-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -op-animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes SLideInText {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.hero-text p {
  font-weight: 400;
  font-size: 2rem;
  color: white;
  margin: 20px 0;
  width: 50%;
}

.hero-section-buttons ul li {
  color: var(--grey-shade-light);
  font-size: 16px;
  border: 3px solid var(--grey-shade-dark);
  border-radius: 2px;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.7em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  cursor: pointer;
}

.hero-section-buttons ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--grey-shade-dark);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.hero-section-buttons ul li:hover {
  color: black;
}

.hero-section-buttons ul li:hover span {
  transform: translateY(0) scale(2);
}

.hero-section-buttons ul li span:nth-child(1) {
  --n: 1;
}

.hero-section-buttons ul li span:nth-child(2) {
  --n: 2;
}

.hero-section-buttons ul li span:nth-child(3) {
  --n: 3;
}

.hero-section-buttons ul li span:nth-child(4) {
  --n: 4;
}
.hero-img-mob {
  display: none;
  position: relative;
}
.hero-img-mob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-img-mob::after {
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  -ms-animation-name: fadeOverlay;
  -moz-animation-name: fadeOverlay;
  -op-animation-name: fadeOverlay;
  -webkit-animation-name: fadeOverlay;
  animation-name: fadeOverlay;
  -ms-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -op-animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*----- Call us Section------- */
.call-us-section {
  width: 100%;
  background-color: var(--grey-shade-dark);
}
.call-us-section div {
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.call-us-section div img {
  width: 80px;
}

/* -----Contact Section------- */
.contact-section {
  background-image: url(../assets/food.png);
  padding: 70px 0;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}
.contact-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}
.contact-section-grid-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-section-grid-right span {
  background-color: #202429;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contact-section-grid-right span:first-child {
  width: 100%;
}
.contact-section-grid-right span:nth-child(2) {
  width: 75%;
}
.contact-section-grid-right span:nth-child(3) {
  width: 50%;
}
.contact-section-grid-right span:nth-child(4) {
  width: fit-content;
}
.contact-section-grid-right span:nth-child(4) i:last-child {
  background-color: #202429;
  border: none;
}
.contact-section-grid-right span i {
  height: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: var(--grey-shade-light);
  padding: 30px 30px;
  background-color: var(--primary-color);
  border-right: 2px solid var(--grey-shade-light);
}
.contact-section-grid-right span p {
  color: var(--grey-shade-light);
  font-size: 1.8rem;
  padding-right: 60px;
  padding-left: 20px;
}
.contact-section-grid-left iframe {
  width: 100%;
}

/* Delivery-Section */
.delivery-section {
  background-color: var(--grey-shade-dark);
  margin-top: 100px;
}
.delivery-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.delivery-section-grid-left {
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delivery-section-grid-left img {
  width: 50%;
}

.delivery-section-grid-right {
  padding: 60px 0;
  color: var(--secondary-color);
}

.delivery-section-grid-right h2 {
  padding: 10px 0;
  font-size: 2.8rem;
  text-transform: uppercase;
}
.delivery-section-grid-right ul {
  padding-left: 18px;
}
.delivery-section-grid-right ul li {
  padding: 1px 0;
  font-size: 1.7rem;
  list-style: disc;
}

/* About Us Section */

.about-us-section-gridbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 0;
}
.about-us-section-gridbox-left {
  position: relative;
}
.about-us-section-gridbox-left {
  position: relative;
}
.about-us-section-gridbox-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.about-us-cut-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-us-cut-section span {
  display: block;
  background-color: rgba(204, 0, 0, 0.07);
  border: 4px solid white;
}
.about-us-cut-section span:first-child {
  border-bottom-right-radius: 70px;
}
.about-us-cut-section span:nth-child(2) {
  border-bottom-left-radius: 70px;
}
.about-us-cut-section span:nth-child(3) {
  border-top-right-radius: 70px;
}
.about-us-cut-section span:nth-child(4) {
  border-top-left-radius: 70px;
}
.about-us-section-gridbox-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 50px 20px 50px;
}
.about-us-section-gridbox-right h2 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 3.3rem;
  text-align: left;
  margin-bottom: 20px;
  line-height: 40px;
}
.about-us-section-gridbox-right h2 i {
  margin: 0 5px;
}
.about-us-section-gridbox-right p {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 500;
}

/*---------Menu Section------------- */
.menu-section {
  background: url("../assets/bg_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.menus-section-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 50px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 2rem;
  padding: 10px 0;
  margin: 0 7px 0 7px;
  cursor: pointer;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: var(--primary-color);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #fff;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: var(--secondary-color);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.menu-img-display img {
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
